{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties"],
    [
      "module-resolver",
      {
        "alias": {
          "reducers": "./src/reducers",
          "actions": "./src/actions",
          "store": "./src/store.js",
          "components": "./src/components"
        }
      }
    ]
  ]
}