{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    [
      "module-resolver",
      {
        "alias": {
          "reducers": "./src/reducers"
        }
      }
    ]
  ]
}